/* default case */

*{
    margin: 0;
    padding: 0;
}



/**/
@media only screen and (max-width: 799px) {


    nav{
        display: flex;
        background-color: black;
        color: blanchedalmond;
        justify-content:space-around;
        align-items: center;
        height: 10vh;
    }
    
    ul{
        list-style: none;
    }
    
    /* whole middel container */
    .container1{
        display: grid;
        /* grid-template-rows: 40% 60%; */
        /* height: 100vh; */
        align-items: center;
    }
    
    /* this is the left inener container*/
    .inner1{
        border: 1px solid salmon;
        display: grid;
        grid-template-rows:  auto auto auto ;
        align-items: center;
        justify-items: center;
        text-align: center;
        height: inherit;
    }
    
    .readmore{
        display: grid;
        width: 20vw;
        height: 10vh;
        background-color: rgb(164, 130, 215);
        align-items: center;
    
    }
    
    .inner2{
        display: grid;
        grid-template-rows: 1f;
        width: 60vw;
        grid-template-areas: "box1" "box2" "box3" "box";
        border: 1px solid navajowhite;
    
    }
    
    .img1Box{
        border: 1px solid rgb(66, 57, 141);
        grid-area: box1;
    }
    .img1{
        width: 30vw;
        height: 15vh;
    }
    
    .img2Box{
        grid-area: box2;
        border: 1px solid rgb(85, 141, 57);
    
    
    }
    .img2{
        width: 20vw;
        height: 15vh;
    }
    
    .img3Box{
        grid-area: box3;
        border: 1px solid rgb(141, 78, 57);
    
    
    }
    
    .img3{
        width: 16vw;
        height: 10vh;
    
    }
    
    .img4Box{
        grid-area: box;
        border: 1px solid rgb(141, 57, 119);

    
    }
    
    .img4{
        width: 16vw;
        height: 10vh;
    
    }
    
    footer{
        display: grid;
        grid-template-columns: auto auto ;
        background-color: black;
        color: antiquewhite;
        justify-content: space-around;

    
    }


}

/* lap copy */
@media only screen and (min-width: 800px) {

    nav{
        display: flex;
        background-color: black;
        color: blanchedalmond;
        justify-content:space-around;
        /* text-align: left; */
        align-items: center;
        height: 10vh;
    }
    
    ul{
        list-style: none;
    }
    
    /* whole middel container */
    .container1{
        display: grid;
        grid-template-columns: 40% 60%;
        height: 100vh;
        align-items: center;
    }
    
    /* this is the left inener container*/
    .inner1{
        border: 1px solid salmon;
        display: grid;
        grid-template-rows:  auto auto auto ;
        align-items: center;
        justify-items: center;
        text-align: center;
        height: inherit;
    }
    
    .readmore{
        display: grid;
        width: 20vw;
        height: 10vh;
        background-color: rgb(164, 130, 215);
        align-items: center;
    
    }
    
    .inner2{
        display: grid;
        grid-template-rows: 1f;
        width: 60vw;
        grid-template-areas: "box1" "box2" "box3" "box";
        border: 1px solid navajowhite;
    
    }
    
    .img1Box{
    
        border: 1px solid rgb(66, 57, 141);
        grid-area: box1;
    
        /* display: grid; 
    
        align-items: center; */
    
    }
    .img1{
        width: 30vw;
        height: 15vh;
    }
    
    .img2Box{
        grid-area: box2;
        border: 1px solid rgb(85, 141, 57);
    
    
    }
    .img2{
        width: 20vw;
        height: 15vh;
    }
    
    .img3Box{
        grid-area: box3;
        border: 1px solid rgb(141, 78, 57);
    
    
    }
    
    .img3{
        width: 16vw;
        height: 10vh;
    
    }
    
    .img4Box{
        grid-area: box;
        border: 1px solid rgb(141, 57, 119);
        /* align-items: end; */
    
    }
    
    .img4{
        width: 16vw;
        height: 10vh;
    
    }
    
    footer{
        display: grid;
        grid-template-columns: auto auto ;
        background-color: black;
        color: antiquewhite;
        justify-content: space-around;
    
    }
    
    
    
    
    
    ul{
        display: flex;
        justify-content: space-around;
        width: 20%;
    }

}

